@font-face {
    font-family: "font1";
    src: url("./src/ufonts.com_klavika-bold-opentype.otf");
}

body,
html {
    font-family: "font1";
    background-color: #3b5998;
    width: 100%;
    height: 100%;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
    color: white;
    font-family: inherit;
    margin: 0;
}

.row {
    width: 100%;
    box-sizing: border-box;
    padding: 40px;
    height: 300px;
}

.row-main {
    width: 100%;
    box-sizing: border-box;
    height: 60%;
}

.row-footer {
    width: 100%;
    box-sizing: border-box;
    padding: 40px;
    height: 15%;
}

.row-header {
    width: 100%;
    box-sizing: border-box;
    padding: 40px;
    height: 25%;
}

.column {
    height: 100%;
    padding: 40px;
    box-sizing: border-box;
}

.column-left {
    height: 100%;
    width: auto;
    padding: 40px;
    box-sizing: border-box;
    float: left;
}

.column-right {
    height: 100%;
    width: auto;
    padding: 40px;
    box-sizing: border-box;
    float: right;
}

.left {
    text-align: left;
    align-content: left;
    align-items: left;
}

.right {
    text-align: right;
    align-content: right;
    align-items: right;
}

.half {
    width: 50%;
}

.main {
    width: 100%;
}

#main-logo {
    height: 120px;
    float: right;
}

.line1 {
    width: 95%;
    color: #dfe3ee;
    height: 4px;
    background-color: #dfe3ee;
    border-width: 0px;
}

.evento-number {
    font-size: 70px;
    color: #71C5E8
}

.going {
    font-size: 50px;
    color: #00B140;
}

.interested {
    font-size: 50px;
    color: #FF671F;
}

#refresh-button {
    height: 100%;
}

.main {
    height: 110px;
    width: 100%;
    padding: 80px 0;
    text-align: center;
}

.login-logo {
    height: 20%;
}

.button-login {
    font-size: 20px;
    font-family: inherit;
    border-radius: 10px;
    border-width: 0;
    height: 40px;
    width: 25%;
    color: white;
    background-color: #8b9dc3;
}

.input-box {
    font-family: inherit;
    text-align: center;
    height: 40px;
    width: 25%;
    border-radius: 10px;
    border-width: 0;
    color: black;
    font-size: 20px;
}

.main-graph {
    height: 100%;
    width: 100%;
    border-width: 0px;
    border-color: transparent;
}
